.dynamic-scroll{
    max-height: 90vh;
    overflow-y: auto;
    padding-right: 10px;
    scrollbar-width: thin;
    scrollbar-color: #ccc transparent;
}

.close{
    display: none;
}

.default{
border-right: solid 1px black;
}