<div class="container" style="border-bottom: solid 1px;">
    <div class="mb-3">
        <div class="row ">
            <h3 class="d-flex justify-content-center" style="height: 40px; background-color: black; color: white;">{{headerData.firstName}} {{headerData.lastName}}</h3>
        </div>
        <div class="d-flex justify-content-center">
            <ul class="list-group list-group-horizontal" style="list-style: none;">
                <li class="px-1">Seoul,South Korea</li>
                <li class="px-1">&#x2022;<span class="px-1"></span>aizat.kamarudin67&#64;gmail.com</li>
                <li class="px-1">&#x2022;<span class="px-1"></span>014-8252706</li>
                <li class="px-1">&#x2022;<span class="px-1"></span>in/AizatKamarudin</li>
            </ul>
        </div>
    </div>
</div>
