<!-- <div class="container" style="border-bottom: solid 1px;">
    <div class="mb-3">
        <div class="row ">
            <h3 class="d-flex justify-content-center" style="height: 40px; background-color: black; color: white;">{{headerData.firstName}} {{headerData.lastName}}</h3>
        </div>
        <div class="d-flex justify-content-center">
            <ul class="list-group list-group-horizontal" style="list-style: none;">
                <li class="px-1">Seoul,South Korea</li>
                <li class="px-1">&#x2022;<span class="px-1"></span>aizat.kamarudin67&#64;gmail.com</li>
                <li class="px-1">&#x2022;<span class="px-1"></span>014-8252706</li>
                <li class="px-1">&#x2022;<span class="px-1"></span>in/AizatKamarudin</li>
            </ul>
        </div>
    </div>
</div> -->


<div [style.display]="isHeaderVisible ?'block' : 'none' ">
    <form class="form-control" [formGroup]="resumeForm">
        <div>
            <label for="firstName">First Name:</label>
            <input type="text" name="firstName" id="" formControlName="firstName" [placeholder]="headerStorageData?.firstName || 'Enter first name'" >
            <label for="lastName">Last Name:</label>
            <input type="text" name="lastname" id="" formControlName="lastName" [placeholder]="headerStorageData?.lastName || 'Enter last name'">
        </div>
       <div formGroupName="contact">
            <div>
                <label for="location">Location:</label>
                <input type="text" name="location" id="" formControlName="location" [placeholder]="headerStorageData?.contact?.location || 'Enter location'">
                <label for="email">Email:</label>
                <input type="email" name="email" id="" formControlName="email" [placeholder]="headerStorageData?.contact?.email || 'Enter email'">
            </div>
            <div>
                <label for="phone">Phone:</label>
                <input type="text" name="phone" id="" formControlName="phone" [placeholder]="headerStorageData?.contact?.phone || 'Enter phone number'">
            </div>
            <div>
                <label for="site">Site:</label>
                <input type="text" name="site" id="" formControlName="site" [placeholder]="headerStorageData?.contact?.site || 'Enter website'">
            </div>
        </div>
        <button type="submit" (click)="updateForm($event)">Next</button>
    </form>
</div>