<div [style.display]="isHeaderVisible ?'block' : 'none' ">
    <form class="form-control" [formGroup]="resumeForm">
       <div>
            <label for="firstName">First Name:</label>
            <!-- <input type="text" name="firstName" id="" formControlName="firstName" [ngModel]="dataform" (ngModelChange)="onChange($event)"> -->
            <input type="text" name="firstName" id="" formControlName="firstName">
            <label for="lastName">Last Name:</label>
            <input type="text" name="lastname" id="" formControlName="lastName">
            <!-- <button type="submit" (click)="onSubmit(resumeForm.value)">submit</button> -->
       </div>
       <div formGroupName="contact">
            <div>
                <label for="location">Location:</label>
                <input type="text" name="location" id="" formControlName="location">
                <label for="email">Email:</label>
                <input type="email" name="email" id="" formControlName="email">
            </div>
            <div>
                <label for="phone">Phone:</label>
                <input type="text" name="phone" id="" formControlName="phone">
            </div>
            <div>
                <label for="site">Site:</label>
                <input type="text" name="site" id="" formControlName="site">
            </div>
        </div>
        <button type="submit" (click)="onSubmit()">submit</button>
    </form>
</div>


<!-- <div>
    <p>{{count}}</p>
    <button (click)="Increase()">increase</button>
</div> -->