<div>
    <form [formGroup]="resumeForm">
        <label for="firstName">First Name:</label>
        <!-- <input type="text" name="firstName" id="" formControlName="firstName" [ngModel]="dataform" (ngModelChange)="onChange($event)"> -->
        <input type="text" name="firstName" id="" formControlName="firstName">
        <label for="lastName">Last Name:</label>
        <input type="text" name="lastname" id="" formControlName="lastName">
        <button type="submit" (click)="onSubmit(resumeForm.value)">submit</button>
    </form>
</div>
<!-- <div>
    <p>{{count}}</p>
    <button (click)="Increase()">increase</button>
</div> -->