<div #resumePreview id="resume-preview">
    <div class="container p-3">
      <div class="container" style="border-bottom: solid 1px;">
        <div class="mb-3">
            <div class="row">
                <h4 class="d-flex justify-content-center align-items-center" style="height: 40px; background-color: black; color: white;">{{resumeService.headerFormData()?.firstName  || savedHeaderData.firstName}} {{resumeService.headerFormData()?.lastName || savedHeaderData.lastName}}</h4><!-- data daripada service instead of own component-->
            </div>
            <div class="d-flex justify-content-center">
                <ng-container *ngIf="!!headerData; else headerPlaceholder">
                        <ul class="list-group list-group-horizontal" style="list-style: none;">
                            <li class="px-1">{{headerData.contact?.location || 'Location'}}</li><!-- Load with data. If no data replace with 'placeholder' -->
                            <li class="px-1">{{' • ' + headerData.contact?.email || 'E-Mail'}}</li>
                            <li class="px-1">{{' • ' + headerData.contact?.phone || 'Phone Number'}}</li>
                            <li class="px-1">{{' • ' + headerData.contact?.site || 'Site'}}</li>
                        </ul>
                </ng-container>
                <ng-template #headerPlaceholder><!-- For initial template in case no data available -->
                    <ul class="list-group list-group-horizontal" style="list-style: none;">
                        <li class="px-1">Location</li>
                        <li class="px-1"> • E-Mail</li>
                        <li class="px-1"> • Phone Number</li>
                        <li class="px-1"> • Site</li>
                    </ul>
                </ng-template>
            </div>
        </div>
    </div>
    <div class="container" style="border-bottom: solid 1px;">
      <div class="my-3">
          <div class="row ">
              <h4 class="d-flex justify-content-center">PROFESSIONAL SUMMARY</h4>
          </div>
          <div class="d-flex justify-content-center">
              <p style="text-align: center;">{{resumeService.summaryFormData()?.summary || 'Your professional career summary'}}</p>
          </div>
      </div>
    </div>
    <div class="container" style="border-bottom: solid 1px;">
      <div class="my-3">
          <div class="row ">
              <h4 class="d-flex justify-content-center">PROFESSIONAL EXPERIENCE</h4>
          </div>
        
            <div>
                <ng-container *ngIf="resumeService.experienceFormData()?.experiences?.length; else placeholder">
                    <div class="row" *ngFor="let exp of experienceData?.experiences">
                        <div class="col-6 text-start" style="font-weight: bold;">
                            <div >{{exp.company || savedExpData.company || 'Your previous company name'}}</div>
                            <div>{{exp.designation || 'Your designation'}}</div>
                        </div>
                        <div class="col-6 text-end">
                            <div>{{exp.date || 'Date for this experience'}}</div>
                            <div>{{exp.compLocation || 'Location for this experience'}}</div>
                        </div>
                        <ul>
                            <li *ngFor="let highlight of exp.expHighlight">{{highlight || 'List of work highlights'}}</li>
                        </ul>
                    </div>
                </ng-container>
                <ng-template #placeholder>
                    <div class="row">
                        <div class="col-6 text-start" style="font-weight: bold;">
                            <div>
                                Your previous company name
                            </div>
                            <div>
                                Your Designation
                            </div>
                        </div>
                        <div class="col-6 text-end" >
                            <div>
                                Date for this experience
                            </div>
                            <div>
                                Location for this experience
                            </div>
                        </div>
                        <ul>
                            <li>
                                List of work highlights
                            </li>
                        </ul>
                    </div>
                </ng-template>
              <div class="row">
                  <div >
                      <ul>
                          <li *ngFor="let x of resumeService.experienceFormData()?.expHighlight || hldata()">
                              {{x}}
                          </li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
    </div>
    <div class="container" style="border-bottom: solid 1px;">
      <div class="my-3">
          <div class="row ">
              <h4 class="d-flex justify-content-center">EDUCATION</h4>
          </div>
          <div>
            <ng-container *ngIf="resumeService.educationFormData()?.educations?.length; else placeholder2">
                <div class="row" *ngFor="let edu of educationData?.educations">
                    <div class="col-6 text-start" style="font-weight: bold;">
                        <div >{{edu.title || savedEduData.title || 'Your previous institution name'}}</div>
                    </div>
                    <div class="col-6 text-end">
                        <div>{{edu.date || 'Date for this experience'}}</div>
                    </div>
                    <div>
                        {{edu.institute || 'Your previous institution name'}}
                    </div>
                </div>
            </ng-container>
            <ng-template #placeholder2>
                <div class="row">
                    <div class="col-6 text-start" style="font-weight: bold;">
                        <div>
                            Your previous institution name
                        </div>
                    </div>
                    <div class="col-6 text-end" >
                        <div>
                            Date for this experience
                        </div>

                    </div>
                    <div>
                        Your previous institution name
                    </div>
                </div>
            </ng-template>
      </div>
      </div>
    </div>
    <div class="container" style="border-bottom: solid 1px;">
      <div class="my-3">
          <div class="row ">
              <h4 class="d-flex justify-content-center">SKILLS</h4>
          </div>
          <div>
            <div>
              <p style="font-weight: bold;">LeaderShip: <span style="font-weight: 400;">Speaking, Fundraising, Product Development, Communication, Partnership</span></p>
              <p style="font-weight: bold;">Front End: <span style="font-weight: 400;">HTML, CSS, Bootstrap, Angular</span></p>
          </div>
          </div>
      </div>
    </div>
    
</div>

<button class="noclick" (click)="downloadPdf()">Generate Resume</button>

<!-- <div class="container p-3">
    <app-header [headerData]="nameFromParent"></app-header>
    <app-summary></app-summary>
    <app-experience></app-experience>
    <app-education></app-education>
    <app-skills></app-skills>
  </div>



</div> -->